<!DOCTYPE html>
<html>
  <head>
    <title>Bem-vindo à ArttiDev!</title>
    <%= metaTags %>
    <link rel="stylesheet" href="css/home.css">
  </head>

  <body>
    <div class="aviso">
      <img src="logo-arttidev.png" alt="Logo da nossa empresa.">
      <div class="spinner">
        Em breve
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        ?
      </div>
    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>